@font-face {
    font-family: 'Kharon4a Bold';
    src: local('Kharon4a Bold'), local('Kharon4aBold'),
        url('Kharon4aBold.woff2') format('woff2'),
        url('Kharon4aBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
