@font-face {
    font-family: 'genown';
    src: local('genown_v01'), local('Genownv01'),
        url('Genownv01.woff2') format('woff2'),
        url('Genownv01.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
