@font-face {
    font-family: 'swfit_slm_fw';
    src: local('swfit_slm_fw'), local('Swfitslmfw'),
        url('Swfitslmfw.woff2') format('woff2'),
        url('Swfitslmfw.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
