.orgdot-fixed-bold {
  font-family: "fixed_bold";
}
.orgdot-fixed-v01 {
  font-family: "fixed_v01";
}
.orgdot-fixed-v02 {
  font-family: "fixed_v02";
}
.orgdot-fixed-v03 {
  font-family: "fixed_v03";
}
.orgdot-fixed-v05 {
  font-family: "fixed_v05";
}
.orgdot-gab-net-bold {
  font-family: "GAB.NET Bold";
}
.orgdot-gab-net-plain {
  font-family: "GAB.NET";
}
.orgdot-genown-v01 {
  font-family: "genown_v01";
}
.orgdot-kharon4a-bold {
  font-family: "Kharon4a Bold";
}
.orgdot-kharon4a-v01 {
  font-family: "Kharon4a_v01";
}
.orgdot-kharon4amini {
  font-family: "kharon4a_mini";
}
.orgdot-org-v01 {
  font-family: "Org_v01";
}
.orgdot-pixelpunch {
  font-family: "pixelpunch";
}
.orgdot-serif-v01 {
  font-family: "serif_v01";
}
.orgdot-swfitslmfw {
  font-family: "swfit_slm_fw";
}
.orgdot-swft-v01 {
  font-family: "SWF!T_v01";
}
.orgdot-swft-v02 {
  font-family: "SWF!T_v02";
}
.orgdot-teachers-pet-bold {
  font-family: "Teachers Pet Bold";
}
.orgdot-teachers-pet-sans-serif-bold {
  font-family: "Teachers Pet Sans Serif Bold";
}
.orgdot-teachers-pet-sans-serif {
  font-family: "Teachers Pet Sans Serif";
}
.orgdot-teachers-pet {
  font-family: "Teachers Pet";
}
